In [1]:
import pandas as pd

In [2]:
movise_data=pd.read_csv('C:\\Users\\INTEGRAL COMPUTER\\python data science\\Project2\\movies_data.csv')

movise_data

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
0,0,2006,4103791,Pirates of the Caribbean: Dead Man's Chest,"Verbinski, Gore",Action|Adventure|Fantasy,"Arriflex 235, Panavision Primo Lenses|Panavisi...",35 mm,225000000,the-numbers,F
1,1,2006,4022547,Night at the Museum,"Levy, Shawn",Adventure|Comedy|Family|Fantasy,"Arriflex 435, Zeiss Ultra Prime and Angenieux ...",35 mm,110000000,the-numbers,F
2,2,2006,3415583,Cars,"Lasseter, John|Ranft, Joe",Animation|Comedy|Family|Sport,NaN,Digital,70000000,the-numbers,D
3,3,2006,4587958,X-Men: The Last Stand,"Ratner, Brett",Action|Adventure|Fantasy|Sci-Fi|Thriller,Panavision Cameras and Lenses,35 mm,210000000,the-numbers,F
4,4,2006,4351263,The Da Vinci Code,"Howard, Ron",Mystery|Thriller,"Arricam LT, Cooke S4 Lenses|Arricam ST, Cooke ...",35 mm,125000000,the-numbers,F
...,...,...,...,...,...,...,...,...,...,...,...
1190,1190,2017,3954779,Megan Leavey,"Cowperthwaite, Gabriela",Biography|Drama|War,Arri Alexa,NaN,0,the-numbers,D
1191,1191,2017,4375083,The Greatest Showman,"Gracey, Michael",Biography|Drama|Musical,Arri Alexa 65,Codex,84000000,the-numbers,D
1192,1192,2016,4367698,The Founder,"Hancock, John Lee",Biography|Drama|History,"Arri Alexa XT, Panavision G- Series Lenses",Codex ARRIRAW,10500000,the-numbers,D
1193,1193,2017,3342703,Battle of the Sexes,"Dayton, Jonathan|Faris, Valerie",Biography|Comedy|Drama|Sport,"Arricam LT, Kowa Cine Prominar prime and Angen...",35 mm,25000000,the-numbers,F
1194,1194,2017,4332562,The Beguiled,"Coppola, Sofia",Drama|War,"Arricam LT, Zeiss Master Prime and Angenieux O...",35 mm,10500000,imdb,F

### Case-1. Write a Python Pandas program to get the columns of the DataFrame

In [4]:
movise_data.columns

Index(['index', 'production_year', 'id', 'title', 'directors', 'genres',
       'camera_format', 'negative_format', 'budget', 'budget_source',
       'film_type'],
      dtype='object')

### Case-2 Write a Pandas program to get the information of the DataFrame

In [6]:
movise_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195 entries, 0 to 1194
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            1195 non-null   int64
 1   production_year  1195 non-null   int64
 2   id               1195 non-null   int64
 3   title            1195 non-null   object
 4   directors        1195 non-null   object
 5   genres           1195 non-null   object
 6   camera_format    1025 non-null   object
 7   negative_format  1104 non-null   object
 8   budget           1195 non-null   int64
 9   budget_source    1195 non-null   object
 10  film_type        1195 non-null   object
dtypes: int64(4), object(7)
memory usage: 102.8+ KB

### Case-3 Write a Pandas program to get the details of the third movie of the DataFrame

In [8]:
df=movise_data.loc[3]
df

index                                                     3
production_year                                        2006
id                                                  4587958
title                                 X-Men: The Last Stand
directors                                     Ratner, Brett
genres             Action|Adventure|Fantasy|Sci-Fi|Thriller
camera_format                 Panavision Cameras and Lenses
negative_format                                       35 mm
budget                                            210000000
budget_source                                   the-numbers
film_type                                                 F
Name: 3, dtype: object

### Case-4 Write a Pandas program to count the number of rows and columns of the DataFrame

In [10]:
movise_data.shape

(1195, 11)

### Case-5 Write a Pandas program to get the details of the columns title and genres of the DataFrame

In [12]:
movise_data.loc[:,['title','genres']]

,title,genres
0,Pirates of the Caribbean: Dead Man's Chest,Action|Adventure|Fantasy
1,Night at the Museum,Adventure|Comedy|Family|Fantasy
2,Cars,Animation|Comedy|Family|Sport
3,X-Men: The Last Stand,Action|Adventure|Fantasy|Sci-Fi|Thriller
4,The Da Vinci Code,Mystery|Thriller
...,...,...
1190,Megan Leavey,Biography|Drama|War
1191,The Greatest Showman,Biography|Drama|Musical
1192,The Founder,Biography|Drama|History
1193,Battle of the Sexes,Biography|Comedy|Drama|Sport
1194,The Beguiled,Drama|War

### Case-6 Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'

In [14]:
movise_data[movise_data['title']=='The Greatest Showman']

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
1191,1191,2017,4375083,The Greatest Showman,"Gracey, Michael",Biography|Drama|Musical,Arri Alexa 65,Codex,84000000,the-numbers,D

### Case-7 Write a Pandas program to get the details of  fifth movie of the DataFrame

In [16]:
movise_data.loc[5]

index                                                              5
production_year                                                 2006
id                                                           4292783
title                                               Superman Returns
directors                                              Singer, Bryan
genres                                       Action|Adventure|Sci-Fi
camera_format      Panavision Genesis HD Camera, Panavision Primo...
negative_format                                          35 mm|HDCAM
budget                                                     232000000
budget_source                                            the-numbers
film_type                                                        D|F
Name: 5, dtype: object

### Case-8 Write a Pandas program to create a smaller DataFrame with a subset of all features.

In [18]:
movise_data.loc[1:5,['id','directors','title','genres','budget']]

,id,directors,title,genres,budget
1,4022547,"Levy, Shawn",Night at the Museum,Adventure|Comedy|Family|Fantasy,110000000
2,3415583,"Lasseter, John|Ranft, Joe",Cars,Animation|Comedy|Family|Sport,70000000
3,4587958,"Ratner, Brett",X-Men: The Last Stand,Action|Adventure|Fantasy|Sci-Fi|Thriller,210000000
4,4351263,"Howard, Ron",The Da Vinci Code,Mystery|Thriller,125000000
5,4292783,"Singer, Bryan",Superman Returns,Action|Adventure|Sci-Fi,232000000

### Case-9 Write a Pandas program to display the first 10 rows of the DataFrame.

In [20]:
movise_data.head(10)

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
0,0,2006,4103791,Pirates of the Caribbean: Dead Man's Chest,"Verbinski, Gore",Action|Adventure|Fantasy,"Arriflex 235, Panavision Primo Lenses|Panavisi...",35 mm,225000000,the-numbers,F
1,1,2006,4022547,Night at the Museum,"Levy, Shawn",Adventure|Comedy|Family|Fantasy,"Arriflex 435, Zeiss Ultra Prime and Angenieux ...",35 mm,110000000,the-numbers,F
2,2,2006,3415583,Cars,"Lasseter, John|Ranft, Joe",Animation|Comedy|Family|Sport,NaN,Digital,70000000,the-numbers,D
3,3,2006,4587958,X-Men: The Last Stand,"Ratner, Brett",Action|Adventure|Fantasy|Sci-Fi|Thriller,Panavision Cameras and Lenses,35 mm,210000000,the-numbers,F
4,4,2006,4351263,The Da Vinci Code,"Howard, Ron",Mystery|Thriller,"Arricam LT, Cooke S4 Lenses|Arricam ST, Cooke ...",35 mm,125000000,the-numbers,F
5,5,2006,4292783,Superman Returns,"Singer, Bryan",Action|Adventure|Sci-Fi,"Panavision Genesis HD Camera, Panavision Primo...",35 mm|HDCAM,232000000,the-numbers,D|F
6,6,2006,3688918,Happy Feet,"Coleman, Warren|Miller, George|Morris, Judy",Animation|Comedy|Family|Music|Musical|Romance,NaN,Digital,85000000,the-numbers,D
7,7,2006,3742737,Ice Age: The Meltdown,"Saldanha, Carlos",Action|Adventure|Animation|Comedy|Family|Fantasy,NaN,Digital,75000000,the-numbers,D
8,8,2006,3416743,Casino Royale,"Campbell, Martin",Action|Adventure|Thriller,"Arricam LT, Cooke S4 and Angenieux Optimo Lens...",35 mm,102000000,the-numbers,F
9,9,2006,4422776,The Pursuit of Happyness,"Muccino, Gabriele",Biography|Drama,Panavision Cameras and Lenses,35 mm,55000000,the-numbers,F

### Case-10 Write a Pandas program to sort the DataFrame based on release_date.

In [22]:
movise_data.sort_values('budget')

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
156,156,2007,4517582,Underdog,"Du Chau, Frederik",Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,Panavision Cameras and Lenses,35 mm,0,the-numbers,F
353,353,2009,3656467,Ghosts of Girlfriends Past,"Waters, Mark",Comedy|Fantasy|Romance,"Panavision Panaflex Millennium XL2, Panavision...",35 mm,0,the-numbers,F
460,460,2010,3728979,Hubble 3D,"Myers, Toni",Documentary,IMAX Cargo Bay 3-D Camera (ICBC3D)|IMAX In-Cab...,65 mm,0,the-numbers,F
1097,1097,2017,4272940,Star Wars: The Last Jedi,"Johnson, Rian",Action|Adventure|Fantasy|Sci-Fi,"Arri Alexa 65|IMAX MSM 9802, Hasselblad and Ma...",35 mm|65 mm|Codex,0,the-numbers,D|F
165,165,2007,3630859,Fracture,"Hoblit, Gregory",Crime|Drama|Mystery|Thriller,"Panavision Panaflex Millennium XL, Panavision ...",35 mm,0,the-numbers,F
...,...,...,...,...,...,...,...,...,...,...,...
1106,1106,2017,3801508,Justice League,"Snyder, Zack",Action|Adventure|Fantasy|Sci-Fi,"ARRI Alexa 65|Arricam LT, Leica Summilux-C Len...",35 mm|Codex,300000000,the-numbers,D|F
99,99,2007,4103788,Pirates of the Caribbean: At World's End,"Verbinski, Gore",Action|Adventure|Fantasy,"Arriflex 235, Panavision Primo Lenses|Arriflex...",35 mm,300000000,the-numbers,F
895,895,2015,4272821,Star Wars: Episode VII - The Force Awakens,"Abrams, J.J.",Action|Adventure|Fantasy|Sci-Fi,"Arri Alexa|IMAX MKIII, Hasselblad Lenses|IMAX ...",35 mm|65 mm,306000000,the-numbers,F
897,897,2015,3324830,Avengers: Age of Ultron,"Whedon, Joss",Action|Adventure|Sci-Fi,"Arri Alexa XT Plus, Panavision Primo Lenses|Bl...",Codex|Redcode RAW|Video,330600000,the-numbers,D
499,499,2011,4103795,Pirates of the Caribbean: On Stranger Tides,"Marshall, Rob",Action|Adventure|Fantasy,"Red Epic, Zeiss Ultra Prime and Angenieux Opti...",Redcode RAW,378500000,wikipedia,D

### Case-11 Write a Pandas program to access those movies, released after 2015-

In [24]:
movise_data[movise_data['production_year']> 2015]

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
995,995,2016,4174476,Rogue One,"Edwards, Gareth",Action|Adventure|Sci-Fi,"Arri Alexa 65, Panavision APO Panatar and Hawk...",Codex ARRIRAW,200000000,the-numbers,D
996,996,2016,3614660,Finding Dory,"MacLane, Angus|Stanton, Andrew",Adventure|Animation|Comedy|Family,NaN,NaN,200000000,the-numbers,U
997,997,2016,3412075,Captain America: Civil War,"Russo, Anthony|Russo, Joe",Action|Adventure|Sci-Fi,"Arri Alexa 65 IMAX, Hasselblad Prime 65 Lenses...",Codex|Redcode RAW,250000000,the-numbers,D
998,998,2016,4432837,The Secret Life of Pets,"Cheney, Yarrow|Renaud, Chris",Adventure|Animation|Comedy|Family,NaN,Digital,75000000,the-numbers,D
999,999,2016,4386314,The Jungle Book,"Favreau, Jon",Adventure|Drama|Family|Fantasy,"Arri Alexa XT M, Panavision Primo Lenses",Codex,175000000,the-numbers,D
...,...,...,...,...,...,...,...,...,...,...,...
1190,1190,2017,3954779,Megan Leavey,"Cowperthwaite, Gabriela",Biography|Drama|War,Arri Alexa,NaN,0,the-numbers,D
1191,1191,2017,4375083,The Greatest Showman,"Gracey, Michael",Biography|Drama|Musical,Arri Alexa 65,Codex,84000000,the-numbers,D
1192,1192,2016,4367698,The Founder,"Hancock, John Lee",Biography|Drama|History,"Arri Alexa XT, Panavision G- Series Lenses",Codex ARRIRAW,10500000,the-numbers,D
1193,1193,2017,3342703,Battle of the Sexes,"Dayton, Jonathan|Faris, Valerie",Biography|Comedy|Drama|Sport,"Arricam LT, Kowa Cine Prominar prime and Angen...",35 mm,25000000,the-numbers,F
1194,1194,2017,4332562,The Beguiled,"Coppola, Sofia",Drama|War,"Arricam LT, Zeiss Master Prime and Angenieux O...",35 mm,10500000,imdb,F

### Case-12 Write a Pandas program to sort movies on directors in descending order

In [26]:
movise_data.sort_values('directors',ascending=False)

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
78,78,2006,3567285,El laberinto del fauno,"del Toro, Guillermo",Drama|Fantasy|War,"Arriflex 435 ES, Zeiss Ultra Prime and Variabl...",35 mm,16000000,the-numbers,F
237,237,2008,3700482,Hellboy II: The Golden Army,"del Toro, Guillermo",Action|Adventure|Fantasy|Horror|Sci-Fi,"Arriflex 235, Zeiss Ultra Prime Lenses|Movieca...",35 mm,82500000,the-numbers,F
978,978,2015,3466696,Crimson Peak,"del Toro, Guillermo",Drama|Fantasy|Horror|Mystery|Romance|Thriller,"Arri Alexa XT, Zeiss Master Prime Lenses",Codex,55000000,the-numbers,D
728,728,2013,4074582,Pacific Rim,"del Toro, Guillermo",Action|Adventure|Sci-Fi,"Red Epic, Zeiss Ultra Prime and Angenieux Opti...",Redcode RAW,190000000,the-numbers,D
1177,1177,2017,4245491,Sleepless,"bo Odar, Baran",Action|Crime|Thriller,NaN,NaN,30000000,imdb,U
...,...,...,...,...,...,...,...,...,...,...,...
302,302,2009,4272468,Star Trek,"Abrams, J.J.",Action|Adventure|Sci-Fi,"Arriflex 435 ES, Panavision Primo Lenses|Panav...",35 mm,140000000,the-numbers,F
515,515,2011,4291293,Super 8,"Abrams, J.J.",Mystery|Sci-Fi|Thriller,"Arriflex 16 SR3, Zeiss Super Speed Lenses|Arri...",16 mm|35 mm|8 mm|Redcode RAW,50000000,the-numbers,D|F
705,705,2013,4272595,Star Trek Into Darkness,"Abrams, J.J.",Action|Adventure|Sci-Fi,"Arriflex 435 ES, Panavision Primo, C-, E-Serie...",35 mm|65 mm|Redcode RAW,190000000,the-numbers,D|F
13,13,2006,3973646,Mission: Impossible III,"Abrams, J.J.",Action|Adventure|Thriller,"Arriflex 235, Panavision C-Series Lenses|Arrif...",35 mm|Video,150000000,the-numbers,D|F
366,366,2009,4105528,Planet 51,"Abad, Javier|Blanco, Jorge|MartÃ­nez, Marcos",Adventure|Animation|Comedy|Family|Sci-Fi,NaN,Digital,60000000,the-numbers,D

### Case-12 Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million

In [28]:
movise_data[(movise_data['budget']>2000000 ) & (movise_data['budget']<5000000 )]

,index,production_year,id,title,directors,genres,camera_format,negative_format,budget,budget_source,film_type
434,434,2010,4081907,Paranormal Activity 2,"Williams, Tod",Horror,NaN,NaN,3000000,the-numbers,U
663,663,2012,4239409,Sinister,"Derrickson, Scott",Horror|Mystery|Thriller,Arri Alexa|Beaulieu 4008,8 mm|Codex|SxS Pro,3000000,the-numbers,D|F
684,684,2012,3221432,2016: Obama's America,"D'Souza, Dinesh|Sullivan, John",Documentary,NaN,NaN,2500000,the-numbers,U
749,749,2013,4422668,The Purge,"DeMonaco, James",Horror|Sci-Fi|Thriller,Arri Alexa Plus,Codex,3000000,the-numbers,D
770,770,2013,3239689,A Haunted House,"Tiddes, Michael",Comedy|Fantasy|Horror,NaN,Digital,2500000,the-numbers,D
780,780,2013,3815380,Kevin Hart: Let Me Explain,"Small, Leslie|Story, Tim",Comedy|Documentary,Red Epic|Red Scarlet,NaN,2500000,the-numbers,D
894,894,2014,3386406,Boyhood,"Linklater, Richard",Drama,"Moviecam Compact, Zeiss Super Speed Lenses|Pan...",35 mm,4000000,the-numbers,F
939,939,2015,4553964,War Room,"Kendrick, Alex",Drama,"Red Epic, Zeiss Ultra Prime Lenses",Redcode RAW,3000000,the-numbers,D
967,967,2015,4338330,The Boy Next Door,"Cohen, Rob",Mystery|Thriller,"Arri Alexa XT, Cooke S4, Angenieux Optimo and ...",SxS Pro,4000000,the-numbers,D
1092,1092,2015,4454026,The VVitch: A New-England Folktale,"Eggers, Robert",Horror|Mystery,Arri Alexa Plus 4,Gemini 4|SxS Pro,3500000,the-numbers,D

### Case-13 Write a Pandas program to get the film_type.

In [30]:
movise_data['film_type'].unique()

array(['F', 'D', 'D|F', 'F|U', 'U'], dtype=object)